.widget {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.widget h2 {
  margin-top: 0;
  color: #333;
}

.bottom-padding {
  padding-bottom: .5rem;
}

.right-padding {
  padding-right: 9rem;
}
